#Node.js/React
node_modules/
npm-debug.log
yarn-error.log
dist/
build/

#System
AppData/
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

#Python
__pycache__/
*.pyo 
*.pyc 
*.pyd 

#Django
*.sqlite3
db.sqlite3
.env
staticfiles/
media/
.venv/

#Test
coverage/
.cache/
*.bak
*.old

#IDE
.vscode/
.idea/

#Ssh
*.pem
*.key
*.pub
*.crt
id_rsa*
*rsa*
.credentials
.runner
.path
_work/
bin/
config.sh
env.sh
externals/
run-helper*
run.sh
safe_sleep.sh
svc.sh
actions-runner-linux-x64-*.tar.gz
externals
externals.2.317.0/
externals.2.331.0/
_diag/
bin
bin.2.317.0/
bin.2.331.0/
secret.yamlk8s/job/
