{{- if .Values.component.networkPolicyEnabled }}
{{- range $name, $comp := .Values.component.networkPolicy }}
{{- if $comp.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "component.fullname" (dict "Release" $.Release "Values" $comp ) }}
  labels:
    {{ include "component.labels" (dict "Release" $.Release "Values" $comp ) | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      {{ include "component.selectorLabels" (dict "Release" $.Release "Values" $comp ) | nindent 6 }}
  policyTypes:
  - Ingress
  - Egress

  {{- if $comp.ingress }}
  ingress:
  {{- toYaml $comp.ingress | nindent 2 }}
  {{- end }}

  {{- if $comp.egress }}
  egress:
  - to:
    - podSelector:
        matchLabels:
          k8s-app: kube-dns
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: kube-system
    ports:
    - protocol: UDP
      port: 53
  {{- toYaml $comp.egress | nindent 2 }}
  {{- end }}
{{- end }}
{{- end }}
{{- end }}